.page-content {
   display: block;
}

.settings-page {
   box-shadow: inset 0 0 0 0.2rem white;
   position: relative;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 50vw;
   height: 50vh;
   z-index: 10;
}


.container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
