.page-content {
   display: block;
}

.settings-page {
   border: 2px solid white;
   position: relative;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 50vw;
   height: 50vh;
   z-index: 10;
}
