.sideComponents {
   cursor: pointer;
   padding-left: 1rem;
   padding-right: 1rem;
   font-size: 25px;
}

.sideComponents:hover {
   color: blue;
}

.clicked {
   background-color: #808080;
   background-size: 100% 6px;
   background-repeat: repeat-y;
   color: black;
   cursor: text;
}


.menuText {
   cursor: pointer;
   display: inline-block;
   font-size: var(--l);
}

.menuText:hover {
  color: #3b82f6;
}

.thisPage {
  color: #22c55e;
  text-decoration: underline;
  text-underline-offset: 5px;
  cursor: text;
}

.clickable {
  cursor: pointer;
}

.clickable:hover {
  color: #ef4444;
}

.item {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.2rem;
}
 

.center {
   display: flex;
   flex: 1;
}

.top {
   min-width: 100vw;
   display: flex;
   padding-top: 0.5rem;
}

.opener {
   position: absolute;
   width: 100vw;
   display: inline-block;

   margin-top: calc(0.3rem + 0.1vw);
   margin-left: calc(1rem + 0.3vw);
}

.closer {
}

@media (max-width: 700px) {
   .top {
      align-items: center;
   }

   .center {
      flex-direction: column;
   }

   .menuText {
      transform: rotate(90deg);
   }

   .closer {
      transform: rotate(90deg);
   }
}





.page {
   width: 100vw;
   height: 100vh;
   position: fixed;
   top: 0;
   left: 0;
   z-index: 100;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: center;
}

.test {
   background-color: black;
   margin-top: 1rem;
}
