.side-components {
   cursor: pointer;
   padding-left: 1vw;
   padding-right: 1vw;
   font-size: 25px;
}

.side-components:hover {
   color: blue;
}

.clicked {
   background-color: #808080;
   background-size: 100% 6px;
   background-repeat: repeat-y;
   color: black;
   cursor: text;
}
