.sideComponents {
   cursor: pointer;
   padding-left: 1vw;
   padding-right: 1vw;
   font-size: 25px;
}

.sideComponents:hover {
   color: blue;
}

.clicked {
   background-color: #808080;
   background-size: 100% 6px;
   background-repeat: repeat-y;
   color: black;
   cursor: text;
}


.menuText {
  cursor: pointer;
  display: inline;
  font-size: 20px;
}

.menuText:hover {
  color: #3b82f6;
}

.thisPage {
  color: #22c55e;
  text-decoration: underline;
  text-underline-offset: 5px;
  cursor: text;
}

.clickable {
  cursor: pointer;
}

.clickable:hover {
  color: #ef4444;
}

.item {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.2rem;
}
