.navbar {
   min-width: 100vw;
   /* max-height: 5vh; */
   /* height: 5vh; */
   /* flex: 0 0 5vh; */

   /* box-sizing: border-box; */
   /* overflow: hidden; */

   display: flex;
   align-items: center;
   justify-content: space-around;
}

.page-item {
   flex: 1;
   text-align: center;
   font-size: 10px;
   height: 100%;
   padding: 0.3rem;
   font-size: 1.2rem;
   cursor: pointer;
   box-sizing: border-box;
}

.selected {
   background-size: 100% 6px;
   background-repeat: repeat-y;
   color: green;
   text-decoration: underline;
   text-underline-offset: 5px;
   cursor: text;
}

/* .selected { */
/*    background-color: #f2f0f0; */
/*    background: linear-gradient(#d4d2d2 50%, #f2f0f0 50%); */
/*    background-size: 100% 6px; */
/*    background-repeat: repeat-y; */
/*    color: black; */
/*    cursor: text; */
/* } */

.clicked {
   background-color: #808080;
   background-size: 100% 6px;
   background-repeat: repeat-y;
   color: black;
   cursor: text;
}

