.openerText {
   cursor: pointer;
   display: inline-block;
   font-size: var(--l);
}

.openerText:hover {
  color: #3b82f6;
}

.opener {
   position: absolute;
   width: 100vw;
   display: inline-block;

   margin-top: calc(0.3rem + 0.1vw);
   margin-left: calc(1rem + 0.3vw);
}

.page {
   width: 100vw;
   height: 100vh;
   position: fixed;
   top: 0;
   left: 0;
   z-index: 100;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: center;
}

.item {
   padding: 1rem;
   font-size: var(--l);
   cursor: pointer;
   user-select: none;
}

.item.active {
   cursor: none;
   pointer-events: none;
   color: grey;
}

.item.selected {
   color: green;
}

.closer {
   font-size: var(--l);
   color: white;
   text-align: center;
   cursor: pointer;
}

.closer:hover {
   color: red;
}

.settingsOpener {
   text-align: center;
   cursor: pointer;
   font-size: var(--l);
}
