.navbar {
   min-width: 100vw;
   display: flex;
}

.side-components {
   cursor: pointer;
   padding-left: 1vw;
   padding-right: 1vw;
   font-size: 25px;
}

.side-components:hover {
   color: blue;
}


.pages-section {
   display: flex;
   flex: 1;
   padding-left:  20vw;
   padding-right: 20vw;
}

.page-item {
   flex: 1;
   text-align: center;
   font-size: 10px;
   height: 100%;
   padding: 0.3rem;
   font-size: 1.2rem;
   cursor: pointer;
   box-sizing: border-box;
}

.selected {
   background-size: 100% 6px;
   background-repeat: repeat-y;
   color: green;
   text-decoration: underline;
   text-underline-offset: 5px;
   cursor: text;
}


.clicked {
   background-color: #808080;
   background-size: 100% 6px;
   background-repeat: repeat-y;
   color: black;
   cursor: text;
}

.settings-page {
   box-shadow: inset 0 0 0 0.2rem white;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 50vw;
   height: 50vh;
   z-index: 10;
}

.container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
