@keyframes blink {
   0%, 50%, 100% { background-color: #0f0; }
   25%, 75% { background-color: transparent; }
}

.cursor { 
   display: inline-block;
   width: 0.9em;
   height: 0.1em;
   margin-left: 0.3em;
   animation: blink 2s step-start infinite;
}

.cursor.paused {
   animation: none;
   background-color: #0f0;
}

.header { 
   display: inline-block;
   width: 0.3em;
   height: 0.9em;
   margin-left: 0.3em;
   background-color: #0f0;
}

.link {
   text-decoration: none;
   cursor: pointer;
   display: inline;
   color: inherit;
}

.link:hover {
   text-decoration: underline;
   text-underline-offset: auto;
   color: #22c55e;
}
