#root {
  max-width: 100vw;
  margin: 0 0 0 0;
}

:root {
  --line-thickness: 2px;
  --gap: 14px;
  --line-color: rgba(0,0,0,0.15);

  --min-base: 0.85rem;
  --min-ratio: 1.25;

  --max-base: 1rem;
  --max-ratio: 1.25;

  --xs-min: var(--min-base);
  --s-min:  calc(var(--xs-min) * var(--min-ratio));
  --m-min:  calc(var(--s-min)  * var(--min-ratio));
  --l-min:  calc(var(--m-min)  * var(--min-ratio));
  --xl-min: calc(var(--l-min)  * var(--min-ratio));

  --xs-max: var(--max-base);
  --s-max:  calc(var(--xs-max) * var(--max-ratio));
  --m-max:  calc(var(--s-max)  * var(--max-ratio));
  --l-max:  calc(var(--m-max)  * var(--max-ratio));
  --xl-max: calc(var(--l-max)  * var(--max-ratio));

  --xs-vp: 0.5vw;
  --s-vp:  1vw;
  --m-vp:  1.5vw;
  --l-vp:  2vw;
  --xl-vp: 2.5vw;

  --xs-zm: 0.25rem;
  --s-zm:  0.5rem;
  --m-zm:  0.75rem;
  --l-zm:  1rem;
  --xl-zm: 1.25rem;

  --xs: clamp(var(--xs-min), calc(var(--xs-vp) + var(--xs-zm)), var(--xs-max));
  --s:  clamp(var(--s-min),  calc(var(--s-vp)  + var(--s-zm)),  var(--s-max));
  --m:  clamp(var(--m-min),  calc(var(--m-vp)  + var(--m-zm)),  var(--m-max));
  --l:  clamp(var(--l-min),  calc(var(--l-vp)  + var(--l-zm)),  var(--l-max));
  --xl: clamp(var(--xl-min), calc(var(--xl-vp) + var(--xl-zm)), var(--xl-max));
}


.terminal {
   background-color: #070707;
   background: linear-gradient(#111 50%, #070707 50%);
   background-size: 100% 4px;
   background-repeat: repeat-y;
}

.top-container {
   height: 100vh;
   width: 100vw;

   display: flex;
   flex-direction: column;
   position : absolute;

   top: 0;
   left: 0;
   overflow: hidden;
}
