#root {
  max-width: 100vw;
  margin: 0 0 0 0;
}

:root {



  --line-thickness: 2px;
  --gap: 14px;
  --line-color: rgba(0,0,0,0.15);


  --xs: clamp(0.875rem, 0.5vw + 0.75rem, 1rem);      /* Small text */
  --s:  clamp(1rem, 0.8vw + 0.8rem, 1.25rem);        /* Body */
  --m:  clamp(1.25rem, 1.2vw + 0.9rem, 1.5rem);     /* Subheading */
  --l:  clamp(2rem, 2vw + 1rem, 2.5rem);          /* Section title */
  --xl: clamp(2.5rem, 4vw + 1rem, 4rem);             /* Hero / Display */
}


.terminal {
   background-color: #070707;
   background: linear-gradient(#111 50%, #070707 50%);
   background-size: 100% 4px;
   background-repeat: repeat-y;
}

.top-container {
   height: 100vh;
   width: 100vw;

   display: flex;
   flex-direction: column;
   position : absolute;

   top: 0;
   left: 0;
   overflow: hidden;
}
