#root {
  max-width: 100vw;
  margin: 0 0 0 0;
}

:root {
  --line-thickness: 2px;
  --gap: 14px;
  --line-color: rgba(0,0,0,0.15);
}



/*these are necessary for custom utility class completions*/ 
@import "tailwindcss/preflight";
@layer components {
   .terminal {
      background-color: #070707;
      background: linear-gradient(#111 50%, #070707 50%);
      background-size: 100% 4px;
      background-repeat: repeat-y;
   }
}
@utility terminal {
   background-color: #070707;
   background: linear-gradient(#111 50%, #070707 50%);
   background-size: 100% 4px;
   background-repeat: repeat-y;
}
/*ends here*/



.top-container {
   height: 100vh;
   width: 100vw;

   display: flex;
   flex-direction: column;
   position : absolute;

   top: 0;
   left: 0;
   overflow: hidden;
}

.terminal-white {
   background-color: #f2f0f0;
   background: linear-gradient(#d4d2d2 50%, #f2f0f0 50%);
   background-size: 100% 6px;
   background-repeat: repeat-y;
   color: black;
}
