.education {
   display: grid;
   grid-template-columns: 1fr auto;
   column-gap: 20vw;
   row-gap: 6px;
   align-items: start;
}

.left {
   text-align: left;
}

.right {
   text-align: right;
}

.container {
   display: flex;
	justify-content: center;
   margin-left: max(10vw, 20px);
   margin-right: max(10vw, 20px);
}



@media (max-width: 900px) {
  .education {
    grid-template-columns: 1fr;
    /* column-gap: 40px; */
  }
}

